.filmCard {
    position: relative;
    margin: 15px 0;

    .badge {
        position: absolute;
        top: 20px;
        left: 20px;

        @media (min-width: 768px) and (max-width: 1024px) {
            & {
                top: 20px;
                left: 40px;
            }
        }

        @media (max-width: 767px) {
            & {
                top: 40px;
                left: 40px;
            }
        }
    }

    .badgeYear {
        position: absolute;
        top: 20px;
        right: 20px;

        @media (min-width: 768px) and (max-width: 1024px) {
            & {
                top: 20px;
                right: 40px;
            }
        }

        @media (max-width: 767px) {
            & {
                top: 40px;
                right: 40px;
            }
        }
    }

    .filmCardTitle {
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        margin-top: 24px;
        text-decoration: none !important;
        color: #80858B;

        &:hover {
            color: #7B61FF;
            cursor: pointer;
        }
    }

    .filmCardText {
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #AFB2B6;
    }

    .filmCardImg {
        width: 100%;
        aspect-ratio: 0.75;
        border-radius: 20px;
        object-fit: contain;
    }
}