.filmContainer {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 125px;
}

.badge {
  margin-right: 15px;
}

.gap{
  margin-bottom: 10px;

  @media (max-width: 767px) {
      & {
        display: flex;
        flex-direction: row;
      }
    }
}